# Testreports
Testing was done using the testing framework vitest. All tests can be found in the directory ./tests.

## Reports

### Tests run 2024-10-01:

Analogous test report:
![Test report Analogous.test.js](./doc-images/analogous-test-report.png "Analogous test report")

Calculator test report:
![Test report Calculator.test.js](./doc-images/calculator-test-report.png "Calculator test report")

Color test report:
![Test report Color.test.js](./doc-images/color-test-report.png "Color test report")

ColorThemeData test report:
![Test report ColorThemeData.test.js](./doc-images/color-theme-data-test-report.png "ColorThemeData test report")

Complementary test report:
![Test report Complementary.test.js](./doc-images/complementary-test-report.png "Complementary test report")

CSSColorSetter test report:
![Test report CSSColorSetter.test.js](./doc-images/css-color-setter-test-report.png "CSSColorSetter test report")

Guard test report:
![Test report Guard.test.js](./doc-images/guard-test-report.png "Guard test report")

HTMLColorSwatch test report:
![Test report HTMLColorSwatch.test.js](./doc-images/html-color-swatch-test-report.png "HTMLColorSwatch test report")

Monochrome test report:
![Test report Monochrome.test.js](./doc-images/monochrome-test-report.png "Monochrome test report")

RandomColorTheme test report:
![Test report RandomColorTheme.test.js](./doc-images/random-color-theme-test-report.png "RandomColorTheme test report")

SplitComplementary test report:
![Test report SplitComplementary.test.js](./doc-images/split-complementary-test-report.png "SplitComplementary test report")

Triadic test report:
![Test report Triadic.test.js](./doc-images/triadic-test-report.png "Triadic test report")

Coverage test report:
![Test report coverage](./doc-images/coverage-test-report.png "Coverage test report")